<div id="<%= dom_id link %>">
  <p>
    <strong>Url:</strong>
    <%= link.url %>
  </p>

  <p>
    <strong>Shorten:</strong>
    <%= link_to short_url(link.slug), short_path(link.slug), method: :get%>
    <button onclick="copyText('<%=short_url(link.slug)%>')"> <i class="fa-solid fa-copy"> </i> </button>
  </p> 

  <% qrcode = RQRCode::QRCode.new(short_url(link.slug)) %>
  <% @png = qrcode.as_png(
      bit_depth: 1,
      border_modules: 4,
      color_mode: ChunkyPNG::COLOR_GRAYSCALE,
      color: 'black',
      file: nil,
      fill: 'white',
      module_px_size: 4,
      resize_exactly_to: false,
      resize_gte_to: false,
      size: 100
    )%>

  <img src="<%= @png.to_data_url %>" />

  <p>
    <strong>Clicked:</strong>
    <%= link.clicked %>
  </p>
</div>

<script type="text/javascript">
  function copyText(data) {
    navigator.clipboard.writeText(data);
  }
</script>

<script type="text/javascript">
  function copyImage(data) {
    navigator.clipboard.write(data);
  }
</script>


